<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LE Report Manager - Dashboard</title>
    <!-- <link rel="stylesheet" href="bulma/bulma.css"> -->
    <link rel="stylesheet" href="public/css/mystyles.css">
</head>
<body class="has-background-light">
    <%- include ('./partials/navbar.ejs') -%>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <nav class="breadcrumb is-medium px-6 py-4" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="#">Admin</a></li>
                            <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                </div>
            </div>
        </div>
</body>
</html>