<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LE Report Manager Login</title>
    <!-- <link rel="stylesheet" href="bulma/bulma.css"> -->
    <link rel="stylesheet" href="public/css/mystyles.css">
</head>
<body class="has-background-light">
    <div class="hero columns is-mobile is-centered is-vcentered is-fullheight pb-6">
        <div class="column is-narrow has-background-white px-6 py-6 box is-two-third-tablet is-one-quarter-fullhd">
            <div class="container py-4">
                <figure class="is-161x48 has-text-centered">
                    <img class=""  src="./public/assets/images/LOGO-1_1_.png" alt="">
                </figure>
            </div>

            <h1 class="title has-text-centered">
                LE Report Manager
            </h1>

        <% if (messages.error) { %>
            <%- include ('partials/error') -%> 
        <% } %>

            <form action="/login" method="POST">
                <div class="field">
                    <label for="email">Email</label>
                    <div class="control">
                        <input class="input" type="email" id="email" name="email" required>
                    </div>
                </div>
                <div class="field pb-2">
                    <label for="password">Password</label>
                    <div class="control">
                        <input class="input" type="password" id="password" name="password" required>
                    </div>
                </div>
                <div class="buttons is-centered">
                    <button class="button is-primary" type="submit">Login</button>
                </div>
            </form>
            </div>
    </div>
</body>
</html>